<h1 class="header">
  Hello {{character}} !!
</h1>

<div class="container search-box">
  <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </ng-template>
  <div class="form-group">
      <label for="typeahead-http">Search for a wiki page:</label>
      <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Planet search" [resultTemplate]="rt"
      [inputFormatter]="formatter"/>
      <span *ngIf="searching">searching...</span>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
</div>
<div class="container items">
    
    <div *ngIf="model && model.population" [ngStyle]="getSize(model.population)" class="item">
          <span>{{model.name}} - {{model.population}}</span>
    </div>
</div>
